@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700");
body {
  font-family: Quicksand;
}

mark {
  background-color: transparent;
}

blockquote {
  margin: 0;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

a,
a:visited {
  text-decoration: none;
  color: var(--color-white);
}

:root {
  --color-black: black;
  --color-grey: rgba(120, 119, 116, 1);
  --color-brown: rgba(159, 107, 83, 1);
  --color-orange: rgba(217, 115, 13, 1);
  --color-yellow: rgba(203, 145, 47, 1);
  --color-green: rgba(68, 131, 97, 1);
  --color-blue: rgba(51, 126, 169, 1);
  --color-purple: rgba(144, 101, 176, 1);
  --color-pink: rgba(193, 76, 138, 1);
  --color-red: rgba(212, 76, 71, 1);
  --tran-grey: rgba(120, 119, 116, 0.6);
  --tran-brown: rgba(159, 107, 83, 0.6);
  --tran-orange: rgba(217, 115, 13, 0.6);
  --tran-yellow: rgba(203, 145, 47, 0.6);
  --tran-green: rgba(68, 131, 97, 0.6);
  --tran-blue: rgba(51, 126, 169, 0.6);
  --tran-purple: rgba(144, 101, 176, 0.6);
  --tran-pink: rgba(193, 76, 138, 0.6);
  --tran-red: rgba(212, 76, 71, 0.6);
  --back-grey: rgba(227, 226, 224, 1);
  --back-brown: rgba(238, 224, 218, 1);
  --back-orange: rgba(250, 222, 201, 1);
  --back-yellow: rgba(253, 236, 200, 1);
  --back-green: rgba(219, 237, 219, 1);
  --back-blue: rgba(211, 229, 239, 1);
  --back-purple: rgba(232, 222, 238, 1);
  --back-pink: rgba(245, 224, 233, 1);
  --back-red: rgba(255, 226, 221, 1);
  --back-main-white: rgb(247, 246, 243);
  --back-main-black: rgb(52, 52, 52);
}

.white {
  background-color: var(--back-main-white);
  color: var(--back-main-black);
}
.white p,
.white a {
  color: var(--back-main-black);
}
.white section {
  border-bottom: 3px solid var(--back-grey);
}
.white div.callout {
  background-color: var(--back-grey);
}
.white div.toggleDiv {
  background-color: var(--back-main-white);
}
.white table th {
  background-color: var(--back-grey);
}
.white table tr {
  background-color: var(--back-green);
}
.white table tr:nth-child(n+2) {
  background-color: var(--back-blue);
}
.white button.add {
  background-color: var(--back-blue);
}
.white button.add:hover {
  background-color: var(--tran-blue);
}
.white button.edit {
  background-color: var(--back-yellow);
}
.white button.edit:hover {
  background-color: var(--tran-yellow);
}
.white button.remove {
  background-color: var(--back-red);
}
.white button.remove:hover {
  background-color: var(--tran-red);
}

body {
  transition: all 500ms;
  min-width: 200px;
  max-width: 800px;
  margin: auto;
  padding: 1em;
  background-color: var(--back-main-black);
  color: var(--back-main-white);
}
body.light {
  animation: color-dark 2s reverse;
}

.highlight {
  background-color: transparent;
  font-weight: bolder;
  text-decoration: underline;
}
.highlight.black {
  color: var(--color-black);
}
.highlight.grey {
  color: var(--color-grey);
}
.highlight.brown {
  color: var(--color-brown);
}
.highlight.orange {
  color: var(--color-orange);
}
.highlight.yellow {
  color: var(--color-yellow);
}
.highlight.green {
  color: var(--color-green);
}
.highlight.blue {
  color: var(--color-blue);
}
.highlight.purple {
  color: var(--color-purple);
}
.highlight.pink {
  color: var(--color-pink);
}
.highlight.red {
  color: var(--color-red);
}

.backgound.black {
  background-color: var(--back-black);
}
.backgound.grey {
  background-color: var(--back-grey);
}
.backgound.brown {
  background-color: var(--back-brown);
}
.backgound.orange {
  background-color: var(--back-orange);
}
.backgound.yellow {
  background-color: var(--back-yellow);
}
.backgound.green {
  background-color: var(--back-green);
}
.backgound.blue {
  background-color: var(--back-blue);
}
.backgound.purple {
  background-color: var(--back-purple);
}
.backgound.pink {
  background-color: var(--back-pink);
}
.backgound.red {
  background-color: var(--back-red);
}

blockquote {
  border-left: 3px solid var(--color-grey);
  padding-left: 0.5em;
}

h1 {
  margin-bottom: 0.8em;
}

h2 {
  margin-top: 1em;
}

h2,
h3,
h4,
h5,
h6 {
  margin-bottom: 0.5em;
}

p.level {
  font-size: x-small;
}
p a {
  color: var(--back-main-white);
}

section {
  padding: 1em;
  border-bottom: 3px solid var(--color-grey);
  gap: 0.5em;
  display: flex;
  flex-direction: column;
}
section form {
  display: flex;
  flex-direction: column;
  gap: 0.5em;
}
section:last-of-type {
  border: none;
  margin-bottom: 10em;
}

article.grid {
  display: grid;
  gap: 1em;
}
article.grid._2 {
  grid-template-columns: repeat(2, 1fr);
}
article.grid._3 {
  grid-template-columns: repeat(3, 1fr);
}
article.grid._3 p:nth-child(3n+2) {
  text-align: center;
}
article.grid._3 p:nth-child(3n+3) {
  text-align: end;
}
article.grid._4 {
  grid-template-columns: repeat(4, 1fr);
}
article.grid._5 {
  grid-template-columns: repeat(5, 1fr);
}
article.grid._6 {
  grid-template-columns: repeat(6, 1fr);
}
article.flex {
  display: flex;
  flex-direction: column;
}
article.flex.row {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  gap: 1em;
}

div {
  margin-bottom: 1.5em;
}
div.callout {
  gap: 0.5em;
  display: flex;
  padding: 1em;
  background-color: var(--color-grey);
  align-items: flex-start;
}
div.callout:has(form) {
  display: block;
  position: relative;
}
div.callout:has(.hidden) {
  display: none;
}
div.toggleDiv {
  position: fixed;
  left: 3em;
  bottom: 3em;
  display: flex;
  background-color: transparent;
  padding: 0.5em;
  border-radius: 50px;
  background-color: var(--back-main-black);
}
div.toggleDiv .toggle {
  --size: 5em;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  outline: none;
  cursor: pointer;
  width: var(--size);
  height: var(--size);
  box-shadow: inset calc(var(--size) * 0.33) calc(var(--size) * -0.25) 0;
  border-radius: 999px;
  color: hsl(240, 100%, 95%);
  transition: all 500ms;
}
div.toggleDiv .toggle:checked {
  --ray-size: calc(var(--size) * -0.4);
  --offset-orthogonal: calc(var(--size) * 0.65);
  --offset-diagonal: calc(var(--size) * 0.45);
  transform: scale(0.75);
  color: hsl(40, 100%, 50%);
  box-shadow: inset 0 0 0 var(--size), calc(var(--offset-orthogonal) * -1) 0 0 var(--ray-size), var(--offset-orthogonal) 0 0 var(--ray-size), 0 calc(var(--offset-orthogonal) * -1) 0 var(--ray-size), 0 var(--offset-orthogonal) 0 var(--ray-size), calc(var(--offset-diagonal) * -1) calc(var(--offset-diagonal) * -1) 0 var(--ray-size), var(--offset-diagonal) var(--offset-diagonal) 0 var(--ray-size), calc(var(--offset-diagonal) * -1) var(--offset-diagonal) 0 var(--ray-size), var(--offset-diagonal) calc(var(--offset-diagonal) * -1) 0 var(--ray-size);
}

img.icon {
  width: 18px;
}

button {
  border-radius: 5px;
  border: 1px solid;
  cursor: pointer;
}
button.add {
  background-color: var(--color-blue);
}
button.add:hover {
  background-color: var(--tran-blue);
}
button.edit {
  background-color: var(--color-yellow);
}
button.edit:hover {
  background-color: var(--tran-yellow);
}
button.remove {
  background-color: var(--color-red);
}
button.remove:hover {
  background-color: var(--tran-red);
}

.hidden {
  display: none;
}

table {
  text-align: left;
}
table th,
table td {
  overflow: hidden;
  padding: 0.5em;
}
table th {
  background-color: var(--color-grey);
}
table th:first-child {
  border-radius: 10px 0 0 0;
}
table th:last-child {
  border-radius: 0 10px 0 0;
}
table tr {
  background-color: var(--color-green);
}
table tr:nth-child(n+2) {
  background-color: var(--color-blue);
}
table tr:last-of-type td:first-child {
  border-radius: 0 0 0 10px;
}
table tr:last-of-type td:last-child {
  border-radius: 0 0 10px 0;
}

@media only screen and (max-width: 600px) {
  body {
    min-width: 1px;
    margin: 0;
  }
  article.grid {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 1em;
  }
  section:last-of-type {
    margin-bottom: 5em;
  }
  div.toggleDiv {
    bottom: 1em;
    left: 1em;
    padding: 0.5em;
    border-radius: 50px;
    background-color: var(--back-main-black);
  }
  div.toggleDiv .toggle {
    --size: 2em ;
  }
}/*# sourceMappingURL=index.css.map */